@media (min-width: 1281px) {
    .loginForm{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border:1px solid gray;
        background-color: #999;
        border-width: 1px 0;
        border-collapse: collapse;
        border-radius: 5px;
        padding:8px;
    }

    .loginForm form {
        display: inline-flex;
        flex-direction: column;
        width: 40vw;
        margin-left: 28vw;
        margin-bottom: 2vw;
    }

    .loginForm form input {
        margin-bottom: 2vw;
        height: 3vw;
    }


    .login_btn {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2vw;
        height: 3vw;
    }

    .loginToProvider {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .loginToProvider a img {
        height: auto;
        width: auto;
        max-height: 8vw;
        max-width: 26vw;
    }
    
    
}
@media (max-width: 1280px) { 
    .loginForm{
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        border:1px solid gray;
        background-color: #999;
        border-width: 1px 0;
        border-collapse: collapse;
        border-radius: 5px;
        padding:8px;
    }

    .loginForm form {
        display: inline-flex;
        flex-direction: column;
        width: 40vw;
        margin-left: 28vw;
        margin-bottom: 2vw;
    }

    .loginForm form input {
        margin-bottom: 2vw;
        height: 3vw;
    }


    .login_btn {
        display: flex;
        justify-content: space-around;
        margin-bottom: 2vw;
        height: 3vw;
    }

    .loginToProvider {
        display: flex;
        flex-direction: column;
        width: auto;
    }

    .loginToProvider a img {
        height: auto;
        width: auto;
        max-height: 8vw;
        max-width: 26vw;
    }
    

}